In [2]:
### Import Libraries
import os
import sys
import random
import pandas as pd
import numpy as np
import sys
from pathlib import Path
pd.options.display.max_rows = None
pd.set_option('display.max_columns', 500)
np.set_printoptions(threshold=sys.maxsize)
np.set_printoptions(threshold=np.inf)

os.environ['PYTHONHASHSEED'] = '0'
np.random.seed(42)
random.seed(12345)
pathData = "C:/Users/privat/Desktop/K24-Data-Engineering-Challenge_1/K24-Data-Engineering-Challenge/"

# 1) Clean and Analyse the Dataset

In [3]:
dfall = pd.read_csv(pathData + "sales_data.csv", sep=";")
dfall.head(5)

   TransactionID  ProductID  Quantity SalePrice  PurchasePrice
0              1     1124.0       5.0     13.38           9.91
1              2     1146.0      14.0     26.88          25.60
2              3     1128.0       8.0     15.89          13.24
3              4     1101.0       8.0       2.9           2.42
4              5     1112.0       2.0      7.23           4.82

In [4]:
dfall = dfall.dropna()
dfall.isna().any(axis=None)
dfall = dfall.drop_duplicates(keep="first")
dfall["SalePrice"] = dfall["SalePrice"].str.replace('-','0')

In [5]:
dfall = dfall.round(2)

dfall.sort_values("SalePrice", ascending=True)

dfall["SalePrice"] = dfall["SalePrice"].astype(np.float64)


dfall.groupby(by=["ProductID"])[["Quantity","SalePrice"]].sum().sort_values("SalePrice", ascending=True)

             Quantity  SalePrice
ProductID
1190.0            5.0       0.00
1102.0           88.0      38.33
1150.0          220.0      40.40
1106.0           86.0      45.17
1144.0          162.0      53.26
1104.0          133.0      74.27
1107.0          120.0      77.79
1108.0          145.0      87.07
1111.0          126.0      97.51
1100.0          951.0     135.10
1137.0          650.0     156.45
1147.0          428.0     160.91
1118.0          147.0     167.64
1114.0          168.0     183.36
1101.0          385.0     212.82
1109.0          229.0     217.65
1148.0          744.0     246.01
1105.0          426.0     246.17
1127.0          140.0     284.96
1116.0          129.0     309.32
1103.0          662.0     484.23
1112.0          941.0     557.66
1115.0          477.0     595.15
1123.0          220.0     647.77
1143.0          245.0     649.27
1130.0          205.0     677.12
1121.0          455.0     713.51
1133.0          291.0     761.40
1120.0          439.0     832.97
1124.0          461.0     833.02
1117.0          439.0     860.32
1126.0          423.0     872.48
1131.0          450.0     907.24
1113.0          364.0     913.92
1110.0          552.0     969.10
1119.0     18494530.0     998.56
1149.0          125.0    1134.00
1139.0          257.0    1205.00
1128.0         1018.0    1391.42
1132.0          563.0    1480.80
1122.0          496.0    1527.69
1145.0          398.0    1572.17
1136.0          313.0    1585.48
1142.0          174.0    1640.34
1141.0          272.0    1683.28
1146.0          602.0    1745.92
1125.0          547.0    1762.20
1134.0          966.0    1842.63
1135.0          314.0    2081.10
1129.0          435.0    2172.91
1140.0          484.0    2678.57
1138.0          530.0    2686.16

**### In almost of ProductIDs as much as increase the Quantity respectively increases SalePrice**

In [6]:
# Save the cleaned dataset into
dfall.to_csv(pathData + "sales_data_cleaned.csv", index=None)

# Finished!